<?php

/**
 * This is the unit test configuration file for Services_Akismet
 *
 * @category  Services
 * @package   Services_Amazon_SQS
 * @author    Michael Gauthier <mike@silverorange.com>
 * @copyright 2008 silverorange
 * @license   http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0
 * @version   CVS: $Id: config.php.dist,v 1.1 2008-12-11 15:42:56 gauthierm Exp $
 * @link      http://pear.php.net/package/Services_Amazon_SQS
 */

$GLOBALS['Services_Amazon_SQS_Unittest_Config'] = array(
    'accessKey'        => 'your-access-key-here',
    'secretAccessKey'  => 'your-secret-access-key-here'
);

?>
